___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Capstone Project of Data Analytics Module</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Car Price Prediction EDA</p>

# WELCOME!

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

The project consists of 3 parts:
* First part is related with 'data cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, Dropping useless columns.
* Second part is related with 'filling data'. It deals with Missing Values. Categorical to numeric transformation is done.
* Third part is related with 'handling outliers of data' via Visualisation libraries. Some insights are extracted.

# PART- 1 `( Data Cleaning )`

In [28]:
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
from pylab import rcParams
sns.set_style('darkgrid')
import plotly
import plotly.express as px
import plotly.graph_objs as go
import plotly.offline as py
from plotly.offline import iplot
from plotly.subplots import make_subplots
import plotly.figure_factory as ff
import warnings
warnings.filterwarnings('ignore')

In [29]:
import json

In [30]:
scout_car = pd.read_json ('scout_car.json', lines = True)
df = scout_car.copy()

In [31]:
df.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,...,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,...,[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,...,"[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,...,"[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df.describe

<bound method NDFrame.describe of                                                      url      make_model  \
0      https://www.autoscout24.com//offers/audi-a1-sp...         Audi A1
1      https://www.autoscout24.com//offers/audi-a1-1-...         Audi A1
2      https://www.autoscout24.com//offers/audi-a1-sp...         Audi A1
3      https://www.autoscout24.com//offers/audi-a1-1-...         Audi A1
4      https://www.autoscout24.com//offers/audi-a1-sp...         Audi A1
...                                                  ...             ...
15914  https://www.autoscout24.com//offers/renault-es...  Renault Espace
15915  https://www.autoscout24.com//offers/renault-es...  Renault Espace
15916  https://www.autoscout24.com//offers/renault-es...  Renault Espace
15917  https://www.autoscout24.com//offers/renault-es...  Renault Espace
15918  https://www.autoscout24.com//offers/renault-es...  Renault Espace

                                       short_description body_type  price  \
0            Sportback 1.4 TDI S-tronic Xenon Navi Klima    Sedans  15770
1                                         1.8 TFSI sport    Sedans  14500
2      Sportback 1.6 TDI S tronic Einparkhilfe plus+m...    Sedans  14640
3                                1.4 TDi Design S tronic    Sedans  14500
4      Sportback 1.4 TDI S-Tronic S-Line Ext. admired...    Sedans  16790
...                                                  ...       ...    ...
15914              Blue dCi 200CV EDC Executive 4Control       Van  39950
15915                TCe 225 EDC GPF LIM Deluxe Pano,RFK       Van  39885
15916  Blue dCi 200 EDC Initiale Paris Leder LED Navi...       Van  39875
15917  Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...       Van  39700
15918        INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX       Van  40999

                    vat         km registration         prev_owner  kW  ...  \
0        VAT deductible  56,013 km      01/2016  2 previous owners NaN  ...
1      Price negotiable  80,000 km      03/2017               None NaN  ...
2        VAT deductible  83,450 km      02/2016   1 previous owner NaN  ...
3                  None  73,000 km      08/2016   1 previous owner NaN  ...
4                  None  16,200 km      05/2016   1 previous owner NaN  ...
...                 ...        ...          ...                ...  ..  ...
15914    VAT deductible       - km          -/-               None NaN  ...
15915    VAT deductible   9,900 km      01/2019   1 previous owner NaN  ...
15916    VAT deductible      15 km      03/2019   1 previous owner NaN  ...
15917    VAT deductible      10 km      06/2019               None NaN  ...
15918    VAT deductible       - km      01/2019   1 previous owner NaN  ...

                                             description   Emission Label  \
0      [\n, Sicherheit:,  , Deaktivierung für Beifahr...              NaN
1      [\nLangstreckenfahrzeug daher die hohe Kilomet...  [\n4 (Green)\n]
2      [\n, Fahrzeug-Nummer: AM-95365,  , Ehem. UPE 2...  [\n4 (Green)\n]
3      [\nAudi A1: , - 1e eigenaar , - Perfecte staat...              NaN
4      [\n, Technik & Sicherheit:, Xenon plus, Klimaa...              NaN
...                                                  ...              ...
15914  [\nVettura visionabile nella sede in Via Roma ...              NaN
15915  [\nDach: Panorama-Glas-Schiebedach, Lackierung...              NaN
15916  [\n, Getriebe:,  Automatik, Technik:,  Bordcom...              NaN
15917  [\nDEK:[2691331], Renault Espace Blue dCi 200C...              NaN
15918  [\n, Sicherheit Airbags:,  , Seitenairbag,  , ...  [\n4 (Green)\n]

         Gears Country version Electricity consumption Last Service Date  \
0          NaN             NaN                     NaN               NaN
1      [\n7\n]             NaN                     NaN               NaN
2          NaN             NaN                     NaN               NaN
3      [\n6\n]             NaN                     NaN               NaN
4          NaN   [\nGermany\n]                     NaN               NaN
...        ...             ...                     ...               ...
15914  [\n6\n]             NaN                     NaN               NaN
15915  [\n7\n]   [\nGermany\n]                     NaN               NaN
15916  [\n6\n]   [\nAustria\n]                     NaN               NaN
15917  [\n6\n]             NaN                     NaN               NaN
15918      NaN   [\nGermany\n]                     NaN               NaN

      Other Fuel Types                   Availability  \
0                  NaN                            NaN
1                  NaN                            NaN
2                  NaN                            NaN
3                  NaN                            NaN
4                  NaN                            NaN
...                ...                            ...
15914              NaN                            NaN
15915     [[], [], []]    \nin 5 days from ordering\n
15916              NaN  \nin 120 days from ordering\n
15917              NaN                            NaN
15918              NaN                            NaN

      Last Timing Belt Service Date Available from
0                               NaN            NaN
1                               NaN            NaN
2                               NaN            NaN
3                               NaN            NaN
4                               NaN            NaN
...                             ...            ...
15914                           NaN            NaN
15915                           NaN            NaN
15916                           NaN            NaN
15917                           NaN            NaN
15918                           NaN            NaN

[15919 rows x 54 columns]>

# PART- 2 `( Handling With Missing Vales )`

# PART- 3 `( Handling With Outliers )`

# Final Step (Checking final situation of data via graphs)

## Export dataframe to csv file (without dummy)

In [ ]:
df.to_csv("final_scout_not_dummy.csv", index=False)

# Dummy Operation

## Export dataframe to csv file (dummy)

In [ ]:
df_dummied.to_csv("final_scout_dummy.csv", index=False)